# HW2: ETL

The .csv file from <a href="https://drive.google.com/file/d/1adkkH5xlRLj_y78KdITb1sRVuKbsZJc9/view" target="_blank">this google drive link</a> is needed before we begin the assignment. The dataset was downloaded from gapminder.org.

## Instructions

For this assignment, you will Extract, Transform, and Load (ETL) the data in the link above into <a href="https://github.com/xyjiang970/cis9440-dataWarehousing/blob/main/homeworks/hw2/CIS9440_HW2_Fall22.pdf" target="_blank">the following Dimensional Model</a>.

Using any tools or programming language (Excel, python, SQL, Google Sheets,
R, DBT, etc), transform the data from the CSV you downloaded into the Fact
Table and Dimensions outlined in the image above. The Fact Table and
Dimensions must be saved as 3 separate CSV files:

- CSV 1: GDP_fact
- CSV 2: DateDim
- CSV 3: CountryDim

### Required Python Packages

Only need to be run once to install. Can skip these this cells once all packages have been installed. 

Once installed, go to "Kernal" in Jupyter Notebook and select "Restart & Clear Output". 

Then, you can start with the importing libraries call and hit Cell > Run All Below.

In [ ]:
pip install --upgrade google-cloud-bigquery

## Importing Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.oauth2 import service_account

## Data Profiling

Quick process of examining, analyzing, and creating useful summaries of data.

In [2]:
data = pd.read_csv("income_per_person_inflation_adjusted.csv")

display(data.head())
print("\n-------------------------------------------------------")
display(data.columns)
print("\n-------------------------------------------------------")
data.info(verbose=True, show_counts=True)
print("\n-------------------------------------------------------")
print(f"number of duplicate rows: {len(data[data.duplicated()])} \n\n")

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
0,Afghanistan,603,603,603,603,603,603,603,603,603,...,2550,2600,2660,2710,2770,2820,2880,2940,3000,3060
1,Albania,667,667,667,667,667,668,668,668,668,...,19400,19800,20200,20600,21000,21500,21900,22300,22800,23300
2,Algeria,715,716,717,718,719,720,721,722,723,...,14300,14600,14900,15200,15500,15800,16100,16500,16800,17100
3,Andorra,1200,1200,1200,1200,1210,1210,1210,1210,1220,...,73600,75100,76700,78300,79900,81500,83100,84800,86500,88300
4,Angola,618,620,623,626,628,631,634,637,640,...,6110,6230,6350,6480,6610,6750,6880,7020,7170,7310

-------------------------------------------------------

Index(['country', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808',
       ...
       '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038', '2039',
       '2040'],
      dtype='object', length=242)

-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 242 columns):
 #    Column   Non-Null Count  Dtype
---   ------   --------------  -----
 0    country  193 non-null    object
 1    1800     193 non-null    int64
 2    1801     193 non-null    int64
 3    1802     193 non-null    int64
 4    1803     193 non-null    int64
 5    1804     193 non-null    int64
 6    1805     193 non-null    int64
 7    1806     193 non-null    int64
 8    1807     193 non-null    int64
 9    1808     193 non-null    int64
 10   1809     193 non-null    int64
 11   1810     193 non-null    int64
 12   1811     193 non-null    int64
 13   1812     193 non-null    int64
 14   1813     193 non-null    int64
 15   1814     193 non-null    int64
 16   1815     193 non-null    int64
 17   1816     193 non-null    int64
 18   1817     193 non-null    int64
 19   1818     193 non-null    int64
 20   1819     193 non-null    int64
 21   1820     193 non-null    int64
 22   1821     193 non-null    int64
 23   1822     193 non-null    int64
 24   1823     193 non-null    int64
 25   1824     193 non-null    int64
 26   1825     193 non-null    int64
 27   1826     193 non-null    int64
 28   1827     193 non-null    int64
 29   1828     193 non-null    int64
 30   1829     193 non-null    int64
 31   1830     193 non-null    int64
 32   1831     193 non-null    int64
 33   1832     193 non-null    int64
 34   1833     193 non-null    int64
 35   1834     193 non-null    int64
 36   1835     193 non-null    int64
 37   1836     193 non-null    int64
 38   1837     193 non-null    int64
 39   1838     193 non-null    int64
 40   1839     193 non-null    int64
 41   1840     193 non-null    int64
 42   1841     193 non-null    int64
 43   1842     193 non-null    int64
 44   1843     193 non-null    int64
 45   1844     193 non-null    int64
 46   1845     193 non-null    int64
 47   1846     193 non-null    int64
 48   1847     193 non-null    int64
 49   1848     193 non-null    int64
 50   1849     193 non-null    int64
 51   1850     193 non-null    int64
 52   1851     193 non-null    int64
 53   1852     193 non-null    int64
 54   1853     193 non-null    int64
 55   1854     193 non-null    int64
 56   1855     193 non-null    int64
 57   1856     193 non-null    int64
 58   1857     193 non-null    int64
 59   1858     193 non-null    int64
 60   1859     193 non-null    int64
 61   1860     193 non-null    int64
 62   1861     193 non-null    int64
 63   1862     193 non-null    int64
 64   1863     193 non-null    int64
 65   1864     193 non-null    int64
 66   1865     193 non-null    int64
 67   1866     193 non-null    int64
 68   1867     193 non-null    int64
 69   1868     193 non-null    int64
 70   1869     193 non-null    int64
 71   1870     193 non-null    int64
 72   1871     193 non-null    int64
 73   1872     193 non-null    int64
 74   1873     193 non-null    int64
 75   1874     193 non-null    int64
 76   1875     193 non-null    int64
 77   1876     193 non-null    int64
 78   1877     193 non-null    int64
 79   1878     193 non-null    int64
 80   1879     193 non-null    int64
 81   1880     193 non-null    int64
 82   1881     193 non-null    int64
 83   1882     193 non-null    int64
 84   1883     193 non-null    int64
 85   1884     193 non-null    int64
 86   1885     193 non-null    int64
 87   1886     193 non-null    int64
 88   1887     193 non-null    int64
 89   1888     193 non-null    int64
 90   1889     193 non-null    int64
 91   1890     193 non-null    int64
 92   1891     193 non-null    int64
 93   1892     193 non-null    int64
 94   1893     193 non-null    int64
 95   1894     193 non-null    int64
 96   1895     193 non-null    int64
 97   1896     193 non-null    int64
 98   1897     193 non-null    int64
 99   1898     193 non-null    int64
 100  1899     193 non-null    int64
 101  1900     193 non-null    int64
 102  1901     193 non-null    int64
 103  1902     193 non-null    int64
 104  1903     193 non-null    int64
 105  1904     193 non-null    int64
 106  1905     193 non-null    int64
 107  1906     193 non-null    int64
 108  1907     193 non-null    int64
 109  1908     193 non-null    int64
 110  1909     193 non-null    int64
 111  1910     193 non-null    int64
 112  1911     193 non-null    int64
 113  1912     193 non-null    int64
 114  1913     193 non-null    int64
 115  1914     193 non-null    int64
 116  1915     193 non-null    int64
 117  1916     193 non-null    int64
 118  1917     193 non-null    int64
 119  1918     193 non-null    int64
 120  1919     193 non-null    int64
 121  1920     193 non-null    int64
 122  1921     193 non-null    int64
 123  1922     193 non-null    int64
 124  1923     193 non-null    int64
 125  1924     193 non-null    int64
 126  1925     193 non-null    int64
 127  1926     193 non-null    int64
 128  1927     193 non-null    int64
 129  1928     193 non-null    int64
 130  1929     193 non-null    int64
 131  1930     193 non-null    int64
 132  1931     193 non-null    int64
 133  1932     193 non-null    int64
 134  1933     193 non-null    int64
 135  1934     193 non-null    int64
 136  1935     193 non-null    int64
 137  1936     193 non-null    int64
 138  1937     193 non-null    int64
 139  1938     193 non-null    int64
 140  1939     193 non-null    int64
 141  1940     193 non-null    int64
 142  1941     193 non-null    int64
 143  1942     193 non-null    int64
 144  1943     193 non-null    int64
 145  1944     193 non-null    int64
 146  1945     193 non-null    int64
 147  1946     193 non-null    int64
 148  1947     193 non-null    int64
 149  1948     193 non-null    int64
 150  1949     193 non-null    int64
 151  1950     193 non-null    int64
 152  1951     193 non-null    int64
 153  1952     193 non-null    int64
 154  1953     193 non-null    int64
 155  1954     193 non-null    int64
 156  1955     193 non-null    int64
 157  1956     193 non-null    int64
 158  1957     193 non-null    int64
 159  1958     193 non-null    int64
 160  1959     193 non-null    int64
 161  1960     193 non-null    int64
 162  1961     193 non-null    int64
 163  1962     193 non-null    int64
 164  1963     193 non-null    int64
 165  1964     193 non-null    int64
 166  1965     193 non-null    int64
 167  1966     193 non-null    int64
 168  1967     193 non-null    int64
 169  1968     193 non-null    int64
 170  1969     193 non-null    int64
 171  1970     193 non-null    int64
 172  1971     193 non-null    int64
 173  1972     193 non-null    int64
 174  1973     193 non-null    int64
 175  1974     193 non-null    int64
 176  1975     193 non-null    int64
 177  1976     193 non-null    int64
 178  1977     193 non-null    int64
 179  1978     193 non-null    int64
 180  1979     193 non-null    int64
 181  1980     193 non-null    int64
 182  1981     193 non-null    int64
 183  1982     193 non-null    int64
 184  1983     193 non-null    int64
 185  1984     193 non-null    int64
 186  1985     193 non-null    int64
 187  1986     193 non-null    int64
 188  1987     193 non-null    int64
 189  1988     193 non-null    int64
 190  1989     193 non-null    int64
 191  1990     193 non-null    int64
 192  1991     193 non-null    int64
 193  1992     193 non-null    int64
 194  1993     193 non-null    int64
 195  1994     193 non-null    int64
 196  1995     193 non-null    int64
 197  1996     193 non-null    int64
 198  1997     193 non-null    int64
 199  1998     193 non-null    int64
 200  1999     193 non-null    int64
 201  2000     193 non-null    int64
 202  2001     193 non-null    int64
 203  2002     193 non-null    int64
 204  2003     193 non-null    int64
 205  2004     193 non-null    int64
 206  2005     193 non-null    int64
 207  2006     193 non-null    int64
 208  2007     193 non-null    int64
 209  2008     193 non-null    int64
 210  2009     193 non-null    int64
 211  2010     193 non-null    int64
 212  2011     193 non-null    int64
 213  2012     193 non-null    int64
 214  2013     193 non-null    int64
 215  2014     193 non-null    int64
 216  2015     193 non-null    int64
 217  2016     193 non-null    int64
 218  2017     193 non-null    int64
 219  2018     193 non-null    int64
 220  2019     193 non-null    int64
 221  2020     193 non-null    int64
 222  2021     193 non-null    int64
 223  2022     193 non-null    int64
 224  2023     193 non-null    int64
 225  2024     193 non-null    int64
 226  2025     193 non-null    int64
 227  2026     193 non-null    int64
 228  2027     193 non-null    int64
 229  2028     193 non-null    int64
 230  2029     193 non-null    int64
 231  2030     193 non-null    int64
 232  2031     193 non-null    int64
 233  2032     193 non-null    int64
 234  2033     193 non-null    int64
 235  2034     193 non-null    int64
 236  2035     193 non-null    int64
 237  2036     193 non-null    int64
 238  2037     193 non-null    int64
 239  2038     193 non-null    int64
 240  2039     193 non-null    int64
 241  2040     193 non-null    int64
dtypes: int64(241), object(1)
memory usage: 365.0+ KB

-------------------------------------------------------
number of duplicate rows: 0

## Creating Dimensions

In [3]:
# Country Dimension 
CountryDim = data[["country"]]
CountryDim.insert(0, "country_id", range(1, 1+len(CountryDim)))

display(CountryDim)
print("\n-------------------------------------------------------")
CountryDim.info()

     country_id      country
0             1  Afghanistan
1             2      Albania
2             3      Algeria
3             4      Andorra
4             5       Angola
..          ...          ...
188         189    Venezuela
189         190      Vietnam
190         191        Yemen
191         192       Zambia
192         193     Zimbabwe

[193 rows x 2 columns]

-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country_id  193 non-null    int64
 1   country     193 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.1+ KB

In [4]:
# Date Dimension
DateDim = data.drop("country", axis=1).T.reset_index()
DateDim = DateDim[["index"]].rename(columns={"index":"year"})

DateDim["year"] = DateDim["year"].astype(np.int64)

DateDim.insert(0, "date_id", range(1, 1+len(DateDim)))
DateDim.insert(2, "decade", 10 * (DateDim['year'] // 10))

display(DateDim)
print("\n-------------------------------------------------------")
DateDim.info()

     date_id  year  decade
0          1  1800    1800
1          2  1801    1800
2          3  1802    1800
3          4  1803    1800
4          5  1804    1800
..       ...   ...     ...
236      237  2036    2030
237      238  2037    2030
238      239  2038    2030
239      240  2039    2030
240      241  2040    2040

[241 rows x 3 columns]

-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   date_id  241 non-null    int64
 1   year     241 non-null    int64
 2   decade   241 non-null    int64
dtypes: int64(3)
memory usage: 5.8 KB

## Creating Fact Table

In [5]:
# Fact Table
data

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
0,Afghanistan,603,603,603,603,603,603,603,603,603,...,2550,2600,2660,2710,2770,2820,2880,2940,3000,3060
1,Albania,667,667,667,667,667,668,668,668,668,...,19400,19800,20200,20600,21000,21500,21900,22300,22800,23300
2,Algeria,715,716,717,718,719,720,721,722,723,...,14300,14600,14900,15200,15500,15800,16100,16500,16800,17100
3,Andorra,1200,1200,1200,1200,1210,1210,1210,1210,1220,...,73600,75100,76700,78300,79900,81500,83100,84800,86500,88300
4,Angola,618,620,623,626,628,631,634,637,640,...,6110,6230,6350,6480,6610,6750,6880,7020,7170,7310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Venezuela,1210,1200,1200,1190,1190,1180,1170,1170,1160,...,8270,8420,8580,8760,8930,9110,9300,9490,9680,9880
189,Vietnam,778,778,778,778,778,778,778,778,778,...,11900,12200,12500,12700,13000,13300,13500,13800,14100,14400
190,Yemen,877,879,882,884,887,889,892,894,897,...,3230,3290,3360,3430,3500,3570,3640,3720,3790,3870
191,Zambia,663,665,667,668,670,671,673,675,676,...,3500,3560,3630,3700,3780,3860,3930,4010,4100,4180
192,Zimbabwe,869,870,871,872,873,874,875,876,877,...,2630,2680,2730,2780,2840,2900,2960,3020,3080,3140

In [6]:
# https://towardsdatascience.com/wide-to-long-data-how-and-when-to-use-pandas-melt-stack-and-wide-to-long-7c1e0f462a98
GDP_fact = data.melt(id_vars=["country"])

# Merge with CountryDim
GDP_fact = pd.merge(GDP_fact, CountryDim, how="left")
GDP_fact = GDP_fact.rename(columns={"variable":"year"})

# Merge with DateDim
GDP_fact["year"] = GDP_fact["year"].astype(np.int64)
GDP_fact = pd.merge(GDP_fact, DateDim, how="left")

# Removing unwanted columns
GDP_fact = GDP_fact.drop(["country","year","decade"], axis=1)
GDP_fact = GDP_fact.rename(columns={"value":"income_per_person"})
GDP_fact = GDP_fact[["date_id","country_id","income_per_person"]]

display(GDP_fact)
print("\n-------------------------------------------------------")
GDP_fact.info()

       date_id  country_id  income_per_person
0            1           1                603
1            1           2                667
2            1           3                715
3            1           4               1200
4            1           5                618
...        ...         ...                ...
46508      241         189               9880
46509      241         190              14400
46510      241         191               3870
46511      241         192               4180
46512      241         193               3140

[46513 rows x 3 columns]

-------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 46513 entries, 0 to 46512
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_id            46513 non-null  int64
 1   country_id         46513 non-null  int64
 2   income_per_person  46513 non-null  int64
dtypes: int64(3)
memory usage: 1.4 MB

## Downloading CSV Files

In [7]:
CountryDim.to_csv("CountryDim.csv")
DateDim.to_csv("DateDim.csv")
GDP_fact.to_csv("GDP_fact.csv")

## Deliver Dimensions and Facts to Google BigQuery

### Google BigQuery Variables

In [8]:
# CHANGE THIS TO YOUR FILE PATH
key_path = r'C:\Users\xj438\Desktop\cis9440-361100-642072a7b126.json'

In [9]:
# Run this cell without changing anything to setup your credentials
credentials = service_account.Credentials.from_service_account_file(key_path,
                                                                    scopes=["https://www.googleapis.com/auth/cloud-platform"])
bigquery_client = bigquery.Client(credentials=credentials,
                                  project=credentials.project_id)

print(f"bigquery client name is: {bigquery_client}")
print(f"bigquery client data type is: {type(bigquery_client)}")

bigquery client name is: <google.cloud.bigquery.client.Client object at 0x000001C6EABCF1F0>
bigquery client data type is: <class 'google.cloud.bigquery.client.Client'>

### Uploading Dimensions and Facts to Google BigQuery

In [10]:
# Dataset Id from created dataset in BigQuery
dataset_id = 'cis9440-361100.hw2_ETL'

dataset_id = dataset_id.replace(':', '.')
print(f"your dataset_id is: {dataset_id}")

your dataset_id is: cis9440-361100.hw2_ETL

In [11]:
# Create a function to load dataframes to BigQuery

def load_table_to_bigquery(df,
                           table_name,
                           dataset_id):

    dataset_id = dataset_id 

    dataset_ref = bigquery_client.dataset(dataset_id)
    job_config = bigquery.LoadJobConfig()
    job_config.autodetect = True
    job_config.write_disposition = "WRITE_TRUNCATE"

    upload_table_name = f"{dataset_id}.{table_name}"
    
    load_job = bigquery_client.load_table_from_dataframe(df,
                                                         upload_table_name,
                                                         job_config = job_config)
        
    print(f"completed job {load_job}")

In [12]:
load_table_to_bigquery(df=GDP_fact, 
                       table_name="GDP_fact", 
                       dataset_id=dataset_id)

completed job LoadJob<project=cis9440-361100, location=US, id=8ab83cef-177d-49de-a081-c26e7d8269d5>

In [13]:
load_table_to_bigquery(df=DateDim, 
                       table_name="DateDim", 
                       dataset_id=dataset_id)

completed job LoadJob<project=cis9440-361100, location=US, id=39f15c35-0d98-41dd-9d2c-c09cae6e2266>

In [14]:
load_table_to_bigquery(df=CountryDim, 
                       table_name="CountryDim", 
                       dataset_id=dataset_id)

completed job LoadJob<project=cis9440-361100, location=US, id=e40d46cb-209d-453c-9906-61e4be0fb6b6>