# CIS 9440: Yelp API Intro
---
10/12/22

In [1]:
pip install yelp

Requirement already satisfied: yelp in /opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.9/site-packages (from yelp) (1.16.0)
Requirement already satisfied: oauth2 in /opt/anaconda3/lib/python3.9/site-packages (from yelp) (1.9.0.post1)
Requirement already satisfied: httplib2 in /opt/anaconda3/lib/python3.9/site-packages (from yelp) (0.20.4)
Requirement already satisfied: pyparsing!=3.0.0,!=3.0.1,!=3.0.2,!=3.0.3,<4,>=2.4.2 in /opt/anaconda3/lib/python3.9/site-packages (from httplib2->yelp) (3.0.4)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from yelp.client import Client

# find your API key at: https://fusion.yelp.com/ then click "Manage API Key"
#MY_API_KEY = "YOUR API KEY HERE"
MY_API_KEY = ""
client = Client(MY_API_KEY)

client

In [3]:
url = 'https://api.yelp.com/v3/businesses/search'

# term examples: "pizza"
# "italian"
# "salad"
term = 'coffee'

# location examples: "New York City",
# "NYC",
# "350 5th Ave, New York, NY 10118"
location = '55 Lexington Ave, New York, NY 10010'

# Optional. Number of business results to return.
# By default, it will return 20.
# Maximum is 50.
SEARCH_LIMIT = 15

# Optional. A suggested search radius in meters.
# The max value is 40000 meters (about 25 miles).
radius = 800 # half mile

In [4]:
url_params = {
                'term': term.replace(' ', '+'),
                'location': location.replace(' ', '+'),
                'limit': SEARCH_LIMIT,
                'radius': radius
            }

print(url_params)

{'term': 'coffee', 'location': '55+Lexington+Ave,+New+York,+NY+10010', 'limit': 15, 'radius': 800}

In [5]:
# A request header is an HTTP header that can be used in an HTTP request
# to provide information about the request context,
# so that the server can tailor the response
headers = {"Authorization": f"Bearer {MY_API_KEY}"}
headers

{'Authorization': 'Bearer bwiE2Rj-tQK7JS5CYWqVwYQwn9ynriHLiB5M7DL9JXrWPVzxvTHC-IW3yqtR9tisIdrw2UuD3dXsSDf1faFgFrwAseE_drNmQalWD-cAnI-IUKebWieUAchyhQVIY3Yx'}

In [6]:
import requests

# make the request to Yelp, get a response
response = requests.get(url, headers=headers, params=url_params)
print(response)
print(type(response.text))
print(response.text[:500])

<Response [200]>
<class 'str'>
{"businesses": [{"id": "_lrhk3UtwAqHpVvHTTSlCg", "alias": "787-coffee-new-york-6", "name": "787 Coffee", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/7-tPFn3AsSWz4phbCAIpWw/o.jpg", "is_closed": false, "url": "https://www.yelp.com/biz/787-coffee-new-york-6?adjust_creative=kZdPN26NPc97kbDoN_AEnA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=kZdPN26NPc97kbDoN_AEnA", "review_count": 50, "categories": [{"alias": "coffee", "title": "Coffee & Tea"}, {"alias": "coffeeroa

In [7]:
import pandas as pd

# turn your Yelp json response into a pandas dataframe
df = pd.DataFrame.from_dict(response.json()['businesses'])
print(f"shape of your dataframe: {df.shape}")

shape of your dataframe: (15, 16)

In [8]:
# subset the columns in your dataframe
df = df[["name", "review_count",
         "rating", "price",
         "distance", "location"]]

df.head(3)

,name,review_count,rating,price,distance,location
0,787 Coffee,50,4.5,NaN,225.986810,"{'address1': '100 Lexington Ave', 'address2': ..."
1,About Time Coffee,21,4.5,NaN,213.485035,"{'address1': '303 Park Ave S', 'address2': '',..."
2,Black Star Bakery & Cafe,32,4.5,NaN,267.320041,"{'address1': '241 E 24th St', 'address2': '', ..."

In [9]:
# split your location column into multiple columns
df["street"] = [d.get('address1') for d in df['location']]
df["city"] = [d.get('city') for d in df['location']]
df["state"] = [d.get('state') for d in df['location']]
df["country"] = [d.get('country') for d in df['location']]

# drop the location column
df = df.drop(['location'], axis=1)

In [10]:
# set your dataframe index
df = df.set_index("name")

# sort your dataframe
df = df.sort_values(by = ["rating", "review_count"],
                    ascending = [False, False])

# view your dataframe
df

,review_count,rating,price,distance,street,city,state,country
name,,,,,,,,
Gumption Coffee,5,5.0,NaN,479.668221,940 Broadway,New York,NY,US
Daily Provisions,523,4.5,$$,452.699080,103 E 19th St,New York,NY,US
Seven Grams Caffe,114,4.5,$$,469.146917,76 Madison Ave,New York,NY,US
787 Coffee,50,4.5,NaN,225.986810,100 Lexington Ave,New York,NY,US
Black Star Bakery & Cafe,32,4.5,NaN,267.320041,241 E 24th St,New York,NY,US
About Time Coffee,21,4.5,NaN,213.485035,303 Park Ave S,New York,NY,US
Sorella,12,4.5,NaN,219.569728,145 E 27th St,New York,NY,US
Irving Farm New York,8,4.5,NaN,248.519529,121 E 27th St,New York,NY,US
Gregorys Coffee,379,4.0,$$,194.214532,327 Park Ave S,New York,NY,US
Felix Roasting,251,4.0,$,530.761760,450 Park Ave S,New York,NY,US
Devoción,155,4.0,$,489.299105,25 E 20th St,New York,NY,US
Birch Coffee,111,4.0,$$,452.843084,432 Third Ave,New York,NY,US
Bluestone Lane,18,4.0,NaN,274.731260,11 Madison Ave,New York,NY,US
Blank Street Coffee,7,4.0,NaN,133.275664,127 E 23rd St,New York,NY,US
Think Coffee,103,3.0,$$,234.244277,280 3rd Ave,New York,NY,US